body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px auto;
    max-width: 800px;
    background: linear-gradient(to bottom right, #393e46, #00adb5);
    color: #fff;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

th, td {
    padding: 15px;
}

th {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.input-box {
    margin-right: 20px;
}

.input-box input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.input-box input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.fetch-button {
    padding: 8px 40px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    outline: none;
}

.fetch-button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.fetch-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.extra-data-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    max-width: 400px;
    width: 90%;
}

.extra-data-form.visible {
    opacity: 1;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover {
    color: #000;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.submit-button {
    padding: 12px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #45a049;
}

.view-details-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s, transform 0.3s;
}

.view-details-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

